{% extends 'layout.html' %}

{% block content %}
{{ super() }}
{{'Compas_3D_Files/' + filename}}
<script>
    function preload() {
        gun = loadModel("{{url_for('static', filename = 'Compas_3D_Files/' + filename)}}", true)
    }
    function setup() {
        createCanvas(windowWidth, windowHeight, WEBGL)
    }
    function draw() {
        background('LIGHTBLUE')
        scale(2)
        rotateZ(millis() / 10000)
        rotateY(millis() / 10000)
        rotateX(millis() / 10000)
        normalMaterial()//for colors
        model(gun)
    }
    function windowResized() {
        resizeCanvas(windowWidth, windowHeight)
    }
    console.log(1)
</script>
{% endblock %}